<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5">
	<link rel="stylesheet" href="../css/style.css">
	<script src="js/lib/jquery-3.1.1.min.js"></script>
	<script src="js/lib/modernizr.custom.js"></script>
</head>
<body>
	<div class="container">
		<!-- Push Wrapper -->
		<div class="mp-pusher" id="mp-pusher">
			<% include ../menu/menu.html %>
			<header>
				<div class="header">
					<div class="header-menu" id="trigger">
						<img src="image/menu/menu2.png" >
					</div>
					<div class="header-logo">
						<h1>Live 2D demo</h1>
					</div>
					<div class="header-rightplaceholder"></div>
				</div>
			</header>