<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Live2D Simple</title>
        </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=4.0">
        </meta>
    </head>

    <body onload="Simple()">
        <canvas id="glcanvas" width = "300px" height="300px" style="width:100%;border:dashed 1px #CCC"></canvas>


        <!-- Live2D Library -->
        <script src="js/lib/live2d.min.js"></script>

        <!-- User's Script -->
        <script src="js/Simple.js"></script>
    </body>
</html>
