@import "font.css";
@import "console-header.css";
@import "console-content.css";
@import "console-datatable.css";

* {
    font-family: proxima-nova, "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    background: #333;
    color: white;
}

a {
    color: #999;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    color: #ccc;
}

h3 {
    font-size: 16px;
    color: #999;
}

p {
    font-size: 14px;
}

.error {
    color: hotpink;
}

label.error {
    font-size: 12px;
}

.form-item, .form-message {
    margin: 12px 20px;
}

.form-item label.item-title {
    display: block;
    margin-bottom: 4px;
}

.form-item .item-value {
    width: 95%;
    border: 2px solid white;
}

.form-item input.item-value {
    height: 20px;
    padding: 4px;
}

.form-action {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

input, button {
    outline: 0;
}

button.button {
    padding: 4px;
    margin: 10px;
    width: 85px;
    border: 1px solid #999;
    background: #333;
    color: white;
    cursor: pointer;
}

button.button:hover {
    color: hotpink;
}

button.button.highlight {
    .form-action button:hover {
        border: 1px solid #fff;
        background: #fff;
        color: #000;
    }

.form-action button.highlight {
    border: 1px solid hotpink;
    background: hotpink;
    color: white;
    font-weight: bold;
}

.form-action button.highlight:hover {
    background: white;
    color: hotpink;
}

.table-title {
    color: greenyellow;
    font-size: 18px;
}

.table-text {
    color: #eee;
    font-size: 14px;
}

.table-action {
    color: hotpink;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.table-action:before {
    content: '> '
}

.container {
    width: 310px;
    height: 360px;
    border: 2px solid white;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.login-title, .register-title {
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.welcome {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: hotpink;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.page-ns-error .container {
    text-align: center;
}

.page-ns-error h1 {
    line-height: 180px;
    font-size: 32px;
    color: hotpink;
}

.page-ns-error a {
    line-height: 100px;
}
