@import"font.css";

* {
	font-family:proxima-nova,"HelveticaNeue",Helvetica,Arial,sans-serif;
	margin:0 auto;
}

p {
	font-size:14px;
}

body {
}

header {
	background:#1d9d74;
}

header .header {
	width:960px;
	height:100px;
	margin:auto;
	color:white;
}

header .header-left {
	float: left;
}

header .header-right {
	float: right;
	padding-top:10px;
}

header h1 {
	font-family:museo-slab,Georgia,"Times New Roman",Times,serif;
	font-size:4em;
	text-shadow:4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);
}

.content {
	width:960px;
	margin:auto;
	color: #333;
}

footer {
	position:fixed;
	bottom:0;
	width:100%;
	margin:auto;
	background:#1d9d74;
	text-align:center;
	color:white;
}

footer .footer {
	width:960px;
	height:20px;
}