<% include emptyheader.html %>
<div class="container">
	<div class="login-title">
		<h1>Login</h1>
	</div>
	<div class="login-form">
		<form name="consoleLogin" id="consoleLogin" method="post" action="/console/login">
			<div class="form-item">
				<label class="item-title" for="login">User:</label>
				<input class="item-value" type="text" name="login" autocomplete="off" />
			</div>
			<div class="form-item">
				<label class="item-title" for="password">Password:</label>
				<input class="item-value" type="password" name="password" autocomplete="off" />
			</div>
			<div class="form-item">
				<a href="console/forget">Forget Password?</a>
			</div>
			<div class="form-message error"><%=page.params.formMessage || ''%></div>
			<div class="form-action">
				<button class="button register" type="button">Register</button>
				<button class="button submit highlight" type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
<% include footer.html %>